@media all and (max-width: 600px) {
   .index-main {
       position: relative;
   }

    nav {
        flex-direction: column;
    }

    .logo-heading h1 {
        margin-bottom: 0;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
    }

    .input-comment-field {
        width: 460px !important;
    }

    .question-user-profile-wrapper {
        display: flex;
        flex-direction: column;
    }

    .question-user {
        border-bottom: 1px solid #007acc;
        border-right: none;
    }

    .user-info {
        max-width: 60%;
    }

}