@media all and (max-width: 600px) {
    /* nav ul {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    } */
}