<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: admin-navigation"></header>

<main>


    <div class="some-content">


        <div th:each="user : ${usersMap}">
        <h1 th:text="${user.getKey()}"></h1>
            <span th:each="role : ${user.getValue()}">
                <p th:text="${role.getRole()}"></p>
            </span>
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/commons :: footer"></footer>
</html>