<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

    <div th:object="${article}" class="article-details-section">
        <h1 th:text="*{name}" class="article-details-heading">Some heading</h1>
        <img th:src="*{imageUrl}" src="./img/index-bgn.jpg" alt="image" class="article-details-section-image">
        <p th:text="*{content}" class="article-details-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga maxime voluptatem tempore similique quis ducimus minus sit commodi ipsa ex voluptate libero repudiandae, est odit voluptatum laboriosam facere dolores consectetur.</p>

    </div>


        <footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>
