<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

  <main class="user-profile-main">
    <h1>My profile</h1>
    <div class="user-info">
      <img src="./img/default-avatar.png" alt="avatar" class="profile-picture">
      <h2 sec:authentication="name" class="profile-username">Username</h2>
      <p class="user-description">Some user description - Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Quisquam ut iste perspiciatis, exercitationem, nostrum iusto eveniet sit assumenda et accusantium atque sunt
        harum incidunt aliquam temporibus laboriosam quos eaque accusamus?</p>
      <h3 class="interest-heading">Interests:</h3>
      <p class="user-interests">Some user interests</p>
      <button class="edit-profile">Edit profile</button>
    </div>

    <h1 th:if="${!articles.isEmpty()}">My Articles</h1>
    <div class="user-profile-articles-wrapper">
      <div th:each="a : ${articles}"  th:object="${a}" class="user-profile-article">
        <img th:src="*{imageUrl}" src="img/index-bgn.jpg" alt="article-image" class="user-profile-article-image">
        <h2 th:text="*{name}" class="user-profile-article-heading">Article Heading</h2>
        <p th:text="*{content}" class="user-profile-article-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam odio saepe
          magnam necessitatibus, minus voluptates aliquid ducimus dolores quasi repudiandae? Voluptas porro laborum quas
          ipsam. Soluta unde voluptates natus vel.</p>
        <div class="user-profile-buttons-wrapper">
          <form  th:action="@{/details/{id}(id = *{id})}">
            <button type="submit" class="user-profile-view-article">View</button></form>
          <form> <button class="user-profile-edit-article">Edit</button></form>
          <form th:action="@{/delete/{id}(id = *{id})}"> <button class="user-profile-delete-article">Delete</button>
          </form>
        </div>
      </div>
    </div>

    <h1 th:if="${!questions.isEmpty()}">My Questions</h1>
    <div th:each="q : ${questions}"  th:object="${q}" class="question-user-profile-wrapper">
      <div class="question-user">
        <h1 class="question-user-heading">Q</h1>
        <span th:text="*{content}" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dignissimos non possimus nobis, animi saepe aspernatur nemo atque totam eum consequatur exercitationem aperiam beatae odio eveniet quas commodi delectus asperiores!</span>
      </div>
      <div class="answer-user">
        <h1 class="answer-user-heading">A</h1>
        <span th:text="*{answerEntity?.content } ?: 'Not answered yet..'" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dignissimos non possimus nobis, animi saepe aspernatur nemo atque totam eum consequatur exercitationem aperiam beatae odio eveniet quas commodi delectus asperiores!</span>
      </div>
    </div>
       


  </main>

<footer th:replace="fragments/commons :: footer"></footer>
</body>

</html>