<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<header th:replace="fragments/commons :: navigation"></header>


<main class="index-main">
      <div class="section-wrapper">
        <div class="main-content main-content-register">
            <h2 class="login-heading">Register Form</h2>
            <form th:action="@{/users/register}"
                  th:object="${registrationBindingModel}"
                  method="POST">
              <div class="container">
                <label for="inputUsername"><b>Username</b></label>
                <input  placeholder="Enter Username" name="username"
                        th:field="*{username}"
                        th:errorclass="field-error"
                        type="text"
                        id="inputUsername">
                  <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="field-error-text">Username error
                      message</small>
<!--                  <small th:if="${userExistsError}" id="usernameUniqueError"-->
<!--                         class="text-light form-text bg-danger rounded">Username is already occupied</small>-->
                <label for="inputEmail"><b>Email</b></label>
                <input placeholder="Enter Email" name="email"
                       th:value="*{email}"
                       th:errorclass="field-error"
                       type="text"
                       id="inputEmail">
                  <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="field-error-text">Email error
                      message</small>
                <label for="inputPassword"><b>Password</b></label>
                <input placeholder="Enter Password" name="password"
                       th:errorclass="field-error"
                       type="password"
                       id="inputPassword">
                  <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="field-error-text">Password error
                      message</small>

                <label for="inputConfirmPassword"><b>Confirm Password</b></label>
                <input placeholder="Confirm Password" name="confirmPassword"
                       th:errorclass="field-error"
                       type="password"
                       id="inputConfirmPassword">
                  <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" id="confirmPasswordError"
                         class="field-error-text">
                      Password length must be between 5 and 20 characters and passwords should match.
                  </small>
                <button type="submit">Register</button>
            
              </div>
              
              <div class="container" style="background-color:#f1f1f1">
                
                <span class="sign">Already have an account? <a href="/users/login">Log in!</a></span>
              </div>
            </form>
        </div>
      </div>
    </main>

<footer th:replace="fragments/commons :: footer"></footer>
  </body>
</html>
